<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo">Juniper Green</a>
    <ul class="right hide-on-med-and-down">
      <li *ngIf="key">
        <a routerLink="/game">Game</a>
      </li>
      <li>
        <a routerLink="/rules">Rules</a>
      </li>
      <li>
        <a routerLink="/level">Level</a>
      </li>
      <li>
        <a routerLink="/inscription">Inscription</a>
      </li>
      <li>
        <a routerLink="/connection">Connexion</a>
      </li>
      <li>
        <a (click)="deconnection()" style="cursor:pointer" *ngIf="isConnect">Déconnexion</a>
      </li>
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li *ngIf="key">
        <a routerLink="/game">Game</a>
      </li>
      <li>
        <a routerLink="/rules">Rules</a>
      </li>
      <li>
        <a routerLink="/level">Level</a>
      </li>
      <li>
        <a routerLink="/inscription">Inscription</a>
      </li>
      <li>
        <a routerLink="/connection">Connexion</a>
      </li>
      <li>
        <a (click)="deconnection()" style="cursor:pointer" *ngIf="isConnect">Déconnexion</a>
      </li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger">
      <i class="material-icons">menu</i>
    </a>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col s12 m12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</footer>